<div class=" main">
  <h4>
     <span class="black">Contact</span>
     <img src="/assets/images/fi-logo64.png" class="img-fluid"/>
     <span>Finest</span> Intention
  </h4>
  <hr>
   <div >
      <h5>email</h5>
      <p><span>info@finestintensions.com</span> for all enquiries</p>
      <p><span>adverts@finestintensions.com</span> for advert support</p>
      <p><span>gallery@finestintensions.com</span> for events, streaming and images support</p>
      <p><span>market@finestintensions.com</span> for market place and sales related support</p>
   </div>
   <hr>
   <div >
      <h5>Calls</h5>
      <p><span>+61 452 275 515,</span> Australia Region </p>
      <p><span>+44 783 297 9184,</span> Uk Region </p>
      <p><span>+234 816 616 6994,</span> Nigeria Region </p>
   </div>
</div>
