<div id="picSearch" class="pt-2" (window:resize)="myWindowHandler()">
   <p id="open" (click)="onClickOpen()" [ngStyle]="{'background-image': getBg()}">Search {{selectedComponent}}</p>
   <div class="main" [ngStyle]="{display:getDisplay()}" >
     <div *ngIf="selectedComponent ==='pictures'">
        <app-picture-search></app-picture-search>
     </div>
     <div *ngIf="selectedComponent ==='albums'">
        <app-album-search></app-album-search>
     </div>
     <div *ngIf="selectedComponent ==='videos'">
        <app-video-search></app-video-search>
     </div>
      <!--<app-pics-search-form></app-pics-search-form>-->
   </div>
</div>
