<div class="row p-2">
   <div class="col-lg-6">
     <div class="main-item p-2 m-2 rounded">
        <h4 class="rounded">Gallery</h4>
        <div class="row">
           <div class="col-8">
              <img class="img-fluid rounded mx-auto d-block" src="/assets/images/gallery.jpg">
           </div>
           <div class="col-4">
              <h5>View:</h5>
              <p> Images </p>
              <p> Albums </p>
              <p> Videos</p>
              <p> Moments </p>
              <hr>
              <button type="button" class="btn btn-outline-primary" (click)="onGallery()">
                  Gallery
              </button>
           </div>
        </div>
     </div>
     <div class="main-item p-2 m-2 rounded">
        <h4 class="rounded">Adverts</h4>
        <div class="row">
           <div class="col-8">
              <img class="img-fluid rounded mx-auto d-block" src="/assets/images/advert.jpg">
           </div>
           <div class="col-4">
              <h5 class="rounded">Find:</h5>
              <p> Services </p>
              <p> Goods </p>
              <p> Personel</p>
              <p> Talents </p>
              <hr>
              <button type="button" class="btn btn-outline-primary" (click)="onAdvert()">
                Adverts
              </button>
           </div>
        </div>
     </div>
   </div>
   <div class="col-lg-6">
     <div class="main-item p-2 m-2 rounded">
        <h4 class="rounded">Join In</h4>
        <div class="row">
           <div class="col-8">
              <img class="img-fluid rounded mx-auto d-block" src="/assets/images/join.jpg">
           </div>
           <div class="col-4">
              <h5>Share:</h5>
              <p> Pictures</p>
              <p> Albums </p>
              <p> Videos</p>
              <p> Adverts</p>
              <hr>
              <button type="button" class="btn btn-outline-primary" (click)="onJoin()">
                 Join In
              </button>
           </div>
        </div>
    </div>
    <!--<hr>-->
     <div class="main-item p-2 m-2 rounded">
        <h4 class="rounded">Market Place</h4>
        <div class="row">
           <div class="col-8">
              <img class="img-fluid rounded mx-auto d-block" src="/assets/images/market.jpg">
           </div>
           <div class="col-4">
              <h5>Shop:</h5>
              <p> Goods</p>
              <p> Services </p>
              <p> People</p>
              <p> Offers </p>
              <hr>
              <button type="button" class="btn btn-outline-primary" (click)="onMarket()">
                 Market
              </button>
           </div>
     </div>
   </div>
 </div>
</div>
