<div class=" main">
  <h4>
     <span class="black">Privacy</span>
     <img src="/assets/images/fi-logo64.png" class="img-fluid"/>
     <span>Finest</span> Intention
  </h4>
  <hr>
  <p>
      This is the Privacy Policy of FI Inc, trading as Finest Intention
      Africa (we refer to ourselves as “us”/“we”/“our” in this policy).
      We wish to show the utmost respect and commitment to protecting your
      personal information and, to the extent required, to comply with the
      Privacy Act 1988 (Cth). This policy provides you with details about the
      types of information that we may collect from you, how we might use the
      information, and your rights in relation to the information we have
      collected. Please read this policy carefully, and let us know if you have
      any questions or concerns in relation to it. By accessing and using our
      website, you acknowledge and accept this policy and provide us with
      consent to use the information we hold.
  </p>
  <hr>
  <h6>Collection of information</h6>
  <p>
      When you access or use our website, we may collect both personal and
      non-personal information about you. Non-personal information may include
      details of the websites that you have come from before you visited our
      website, as well as details of the website you visit after leaving our
      website, and your I.P. address. This information is automatically collected
      through avenues such as Cookies. Personal information including your name,
      telephone number and email address will be collected when you enter your
      personal details via our website, and we may ask you for such information.
      Some of the information we collect about you may be sensitive in nature
      and you consent to the collection and use of such information by us subject
      to this policy. The information we collect enables us and our third party
      merchants to communicate with you and to provide information and other
      services to you. You do not have to provide us with your personal information.
      If you do not provide us with some or all of information we request,
      we and/or our third party merchants may not be able to provide you with
      some or all of our respective services, and you may not be able to use our
       website or some of its functions.
  </p>
  <hr>
  <h6>Use and disclosure of information</h6>
  <p>
      We use the information held about you for the primary purpose for which it
       is collected. This includes the provision of our services, including
       enabling our third party merchants to provide services to you, the
       administration of our services, enhancing the operation of our website and
       to assist us in improving the service that we provide you. As it is
       essential to the provision of our services, we will pass your personal
       information to the third party merchants with whom we work and who are
       responsible for providing you with merchant services, including venue spaces.
        We may also pass your personal information to other of our third party
        service providers who may assist us with providing some of our services
        such as sending you emails via our subscriptions system, to analyse data,
        operate the website, payment processing procedures and troubleshooting.
        By accessing or using our website, you expressly consent to this use and
        disclosure of your information by us. Apart from the disclosures expressly
        stated in this policy, we will not pass on your personal information in
        any form to third parties, except in the following circumstances.</p>
        <ul class="list-group">
          <li class="list-group-item">You have consented to the use or disclosure</li>
          <li class="list-group-item">Where we reasonably believe that the disclosure is necessary as
          part of an investigation into unlawful activity that is being, or may
          have already have been, conducted</li>
          <li class="list-group-item">Where the disclosure is required by law, in circumstances such as
           complying with a subpoena, a warrant or other legal processes</li>
       </ul>
       <hr>
       <h6>Information quality and security</h6>
       <p>
           We will take reasonable steps to ensure that any personal information
           we maintain is complete, accurate and up-to-date. We will take reasonable
           steps to protect any personal information we maintain. However, we do
           not warrant the security of personal information transmitted via the
           internet and any information transmitted to the website is done at your
           sole risk. If personal information is no longer required by us or our
           third party merchants or service providers to provide our services,
           we will take reasonable steps to destroy or de-identify that personal information.
       </p>

</div>
