<div class="main">
   <h4>
      <span class="black">About</span>
      <img src="/assets/images/fi-logo64.png" class="img-fluid"/>
      <span>Finest</span> Intention
   </h4>
   <h6>Intro</h6>
   <p>
      We are dedicated to promoting African culture and fashion.
      We are out to show the world what a rich and colourful culture Africa has.
      We serve you a gallery of styles, videos and events to keep you abreast of
      the latest fashion trends and happenings. We tell you where to get goods
      and services similar to the ones on this website and we help with delivery
      and guarantee of goods and services purchased on this website.
    </p>
    <hr>
    <h6>Upload Stuff</h6>
    <p>
      <span>Join in </span> by uploading pictures and videos showing beautiful and
      elegant African styles and events. We can also get your events and parties
      covered by providing life streaming and real time pictures on the internet.
    </p>
    <hr>
    <h6>Adverts</h6>
    <p>
      <span>Advertise </span>your products and services here for the world to
       see. We provide advert templates to help you correctly advertise your
       products.
       Looking for African specific fashion products and quality services?
       Search our adverts and you are clicks away from getting the best services
       available out there.
    </p>
    <hr>
    <h6>Market Place</h6>
      <p>
       We have a market place where you can buy goods and services securely with
       guarantee of delivery. You can register with us to sell your products and
       services. We have a wide reach, you can be rest assured you will get the
       best with us.
     </p>
  </div>
