
<div>
   <a class="social-media" href="https://www.facebook.com/FinestIntension/">
      <img src="/assets/images/facebook.png" class="img-fluid  mt-1" alt="follow us on facebook">
   </a>
   <a class="social-media" href="https://www.instagram.com/fi_africa">
     <img src="/assets/images/instagram.png" class="img-fluid  img-responsive mt-1" alt="follow us on instagram">
   </a>
</div>
<div>
   <a routerLink="/about-us" >About |</a>
   <a routerLink="/contact-us" >Contact |</a>
   <a routerLink="/terms" >Terms |</a>
   <a routerLink="/privacy" >Privacy </a>
</div>
<div>
   <p>&copy; <span>Finest Intensions</span> 2017. All rights reserved</p>
</div>
