<div>
  <h3>What do we offer?</h3>
  <p>We showcase rich African styles by making available to you top <span>images</span>,
    <span>videos</span> and <span>album of events </span>happening accross the world.
    This gallery focuses on atire, beads, make overs and a combination of wonderful
    colours to admire and recreate on your own.
  </p>
  <p>We have an <span>advert section</span> where you can search for proffesionals who provide
     great services in the African settings. There tons of tailors, photographers,
     event planners, designers and others to choose from in different regions of
     the world. You can advetsise your skills and services on this site as well.
  </p>
  <p>
    We also have a <span>join in </span>section where you can share images,
    albums and events on our site for the world to see.
  </p>
</div>

<div>
   <h3>Coming soon!!!</h3>
   <p>A market place where you can buy and sell goods and services over a secure
      connection and with guarantee of delivery and quality.
   </p>
   <p>
      It is going to be very convenient, effective and easy to use. Just stayed glued
      to us, it will be happening soon.
   </p>
</div>
