<div class=" main">
  <h4>
     <span class="black">Terms</span>
     <img src="/assets/images/fi-logo64.png" class="img-fluid"/>
     <span>Finest</span> Intention
  </h4>
  <hr>
  <p>
      This agreement is between you, the user and/or visitor to the website
      (whom we refer to as “you”, “your” in this document) and FI Africa Inc.
      (we refer to ourselves as “us”/“we”/“our” in this document).
      By accessing and using the Website you agree to be bound by these terms
      and conditions (Terms) which may be varied by us from time to time.
      Terms which are capitalised are defined in clause 1.
  </p>
</div>
